*{
    font-family: Nunito Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: left;
}

.item-heigth{
    height: auto !important;
}

.item-list{
    margin: 5px;
}